.stone {
  width: 200px;
  height: 200px;
  border: 20px solid hsl(349, 71%, 52%);
  border-image-slice: 1;
  border-radius: 50%;
  background-image: url(../../helpers/img/icon-rock.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70px;
  -webkit-box-shadow: 0 8px 0px 1px hsla(349, 71%, 52%, 0.6);
  -moz-box-shadow: 0 8px 0px 1px hsla(349, 71%, 52%, 0.6);
  box-shadow: 0 8px 0px 1px hsla(349, 71%, 52%, 0.6);
}

.stone:hover {
  border-color: hsl(349, 70%, 56%);
}

.active-stone {
  width: 300px;
  height: 300px;
  border: 35px solid hsl(349, 71%, 52%);
}

.winner {
  -webkit-box-shadow: 1px 0px 1px 40px hsla(349, 71%, 52%, 0.6);
  -moz-box-shadow: 1px 0px 1px 40px hsla(349, 71%, 52%, 0.6);
  box-shadow: 0 8px 0px 1px hsla(349, 71%, 52%, 0.6),
    1px 0px 1px 40px hsla(214, 47%, 23%, 0.9),
    1px 0px 1px 80px hsla(214, 47%, 23%, 0.6),
    1px 0px 1px 130px hsla(214, 47%, 23%, 0.4);
}
