.stone {
  width: 200px;
  height: 200px;
  border: 20px solid hsl(349, 71%, 52%);
  border-image-slice: 1;
  border-radius: 50%;
  background-image: url(../../helpers/img/icon-rock.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70px;
}

.stone:hover {
  border: 20px solid hsl(349, 70%, 56%);
}
