.paper {
  width: 200px;
  height: 200px;
  border: 20px solid hsl(230, 89%, 62%);
  border-image-slice: 1;
  border-radius: 50%;
  background-image: url(../../helpers/img/icon-paper.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70px;
}

.paper:hover {
  border-color: hsl(230, 89%, 65%);
}

.active-paper {
  width: 300px;
  height: 300px;
  border: 35px solid hsl(230, 89%, 62%);
}
