.selection-container {
  display: flex;
  width: 600px;
  height: 600px;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
  background: url(../../helpers/img/bg-triangle.svg) no-repeat center;
  background-size: 400px;
}

.paper-scissors {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
}
