@import url("/src/components/Stone/Stone.css");

.draw-section {
  display: flex;
  flex-direction: row;
  /* width: 1000px; */
  margin: 0 auto;
  justify-content: space-evenly;
  align-items: center;
}

.picked-turn {
  display: flex;
  width: 400px;
  height: 400px;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 30px;
}

.draw-result {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

/* .picked {
  width: 300px;
  height: 300px;
  border: 20px solid hsl(39, 89%, 49%);
  border-image-slice: 1;
  border-radius: 50%;
  background-image: url(../../helpers/img/icon-scissors.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70px;
} */

.picked-text {
  font-size: 24px;
  color: white;
  letter-spacing: 3px;
}
