.winner {
  -webkit-box-shadow: 1px 0px 1px 40px hsla(349, 71%, 52%, 0.6);
  -moz-box-shadow: 1px 0px 1px 40px hsla(349, 71%, 52%, 0.6);
  box-shadow: 0 8px 0px 1px hsla(349, 71%, 52%, 0.6),
    1px 0px 1px 40px hsla(214, 47%, 23%, 0.9),
    1px 0px 1px 80px hsla(214, 47%, 23%, 0.6),
    1px 0px 1px 130px hsla(214, 47%, 23%, 0.4);
}
