.body {
  max-width: 1366px;
  height: 100vh;
  background: radial-gradient(hsl(214, 47%, 23%) to hsl(237, 49%, 15%));
  font-family: "Barlow Semi Condensed", sans-serif;
}

.main-container {
  display: flex;
  flex-direction: column;
}

.rules-btn {
  width: 100%;
  display: flex;
  justify-content: end;
}
