.body {
  background: radial-gradient(hsl(214, 47%, 23%) to hsl(237, 49%, 15%));
  font-family: "Barlow Semi Condensed", sans-serif;
}

.main-container {
  max-width: 1366px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.rules-btn {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

@media screen and (min-width: 320px) and (max-width: 649px) {
  .main-container {
    max-width: 375px;
    align-items: center;
    margin: 0 auto;
    gap: 80px;
  }

  .rules-btn {
    justify-content: center;
  }
}
