.play-again {
  padding: 10px 30px;
  color: hsl(229, 25%, 31%);
  letter-spacing: 3px;
  border: none;
  border-radius: 8px;
}

.draw-result span {
  color: white;
  font-weight: 700;
  font-size: 38px;
}

.play-again:hover {
  color: hsl(349, 71%, 52%);
}

@media screen and (min-width: 320px) and (max-width: 649px) {
  .play-again {
    padding: 10px 50px;
  }

  .draw-result span {
    font-size: 46px;
  }
}
