.score-container {
  display: flex;
  width: 60%;
  align-items: center;
  justify-content: space-between;
  margin: 20px auto;
  padding: 15px;
  border: 2px solid hsl(217, 16%, 45%);
  border-radius: 10px;
}

.score-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.score-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px 36px;
  background-color: white;
  border-radius: 10px;
  color: hsl(229, 25%, 31%);
}

.score {
  border: none;
  font-size: 50px;
  font-weight: 700;
}

@media screen and (min-width: 320px) and (max-width: 649px) {
  .score-container {
    width: 90%;
    padding: 10px;
  }

  img {
    width: 100px;
    height: 60px;
  }

  .score-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px 20px;
    background-color: white;
    border-radius: 10px;
    color: hsl(229, 25%, 31%);
  }

  .score {
    font-size: 30px;
  }

  .score-header {
    font-size: 18px;
  }
}
